<h1 class="text-center">Pelicula</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Año</th>
      <th>Puntaje (0-5)</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.year %></td>
        <td><%= film.rating %></td>
        <td>
          <%= link_to "Ver", film_path(film.id), class: "btn btn-primary" %>
          <%= link_to "Editar", edit_film_path(film.id), class: "btn btn-warning" %>
          <%= link_to "Eliminar", film_path(film.id), class: "btn btn-danger", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Añadir pelicula", new_film_path ,class: "btn btn-success" %>
